<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="header">

<nav class="navbar bg-light">

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col d-flex align-items-center">
                    <a th:if="${session.login != null && session.login != 'bad-credentials'}" class="navbar-brand d-flex align-items-center" href="contacts">
                        <img src="/images/flat-color-icons_contacts.svg" alt="Logo" class="d-inline-block align-text-top my-auto me-2">
                        <span class="website-name">Mon Répertoire</span>
                    </a>
                    <a th:if="${session.login == null || session.login == 'bad-credentials'}" class="navbar-brand d-flex align-items-center" href="index">
                        <img src="/images/flat-color-icons_contacts.svg" alt="Logo" class="d-inline-block align-text-top my-auto me-2">
                        <span class="website-name">Mon Répertoire</span>
                    </a>
                    <div th:if="${session.login != null}" class="ms-auto">
                        <a href="logout">Se déconnecter</a>
                        <a href="user-details"><img src="/images/carbon_user-avatar-filled.svg" alt="avatar" class="ms-2"></a>
                    </div>
                    <div th:if="${session.login == null && session.login != 'bad-credentials'}" class="ms-auto">
                        <a href="login">
                            <button class="button-secondary">Se connecter</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>

</body>

</html>