* {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    color: #3F3D56;
}

html {
    font-size: 65%;
}

body {
    font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    font-size: revert;
    font-weight: bold;
}

.red {
    color: #E21F36;
}

.secondary-color {
    color: #dc3c4f;
}

.underline-none {
    text-decoration: none;
}

.fw-500 {
    font-weight: 500;
}

.button {
    color: white;
    background-color: #3F3D56;
    border-radius: 8px;
    padding: 4px 16px;
    border: none;
    font-weight: unset;
}

.button-secondary {
    color: #dc3c4f;
    background-color: transparent;
    border-radius: 8px;
    padding: 4px 16px;
    border: 1px solid #dc3c4f;
    font-weight: unset;
    transition: 0.2s;
}

.button-secondary:hover {
    color: white;
    background-color: #dc3c4f;
    border-radius: 8px;
    padding: 4px 16px;
    border: 1px solid #dc3c4f;
    font-weight: unset;
}

.block-center {
    display: block;
    margin: auto;
    width: max-content;
}

.fit-content {
    width: fit-content !important;
}

.uppercase {
    text-transform: uppercase;
}

a {
    color: unset;
}

a:hover {
    color: #E21F36;
}

input,
select,
textarea {
    padding: 4px;
    font-size: 1.4rem !important;
}

input:not([type="submit"]),
select.form-select {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #8D8AB2;
    border-radius: 0px;
    color: #3F3D56;
}

::placeholder {
    font-size: 1.4rem;
    color: #8D8AB2 !important;
}